* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f7fb;
}

.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.login-left-section {
  width: 50%;
  padding: 120px 140px;
  text-align: center;
  background-color: #fff;
}

.login-logo {
  width: 35%;
  margin: -50px auto 1px;
}

label {
  display: block;
  margin: 10px 0 5px;
  text-align: start;
  font-size: 15px;
  font-weight: 500;
}

.login-input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.login-input-box span {
  color: #d633ff;
  margin-right: 10px;
  font-size: 18px;
}

.login-input-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  background: transparent;
}

.login-remember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login-remember input {
  margin-right: 10px;
}

.login-forgot {
  margin-left: auto;
  color: #6c63ff;
  text-decoration: none;
  font-size: 14px;
}

.login-login-btn {
  width: 100%;
  background: #4a6cf7;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-login-btn:hover {
  background: #3c57c4;
  color: #fff;
  transform: translateY(-2px);
}

.login-social-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.login-facebook,
.login-google {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.login-facebook {
  background: #1e3d8f;
}
.login-google {
  background: #ff3c2b;
}

.login-signup-text a {
  color: #d633ff;
  text-decoration: none;
}

.login-right-section {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.login-swiper {
  width: 100%;
  height: 100%;
}

.login-swiper img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1250px) {
  .login-container {
    padding: 0;
    display: flex;
    height: 100vh;
  }
  .login-left-section {
    width: 50%;
    padding: 20px;
  }
  .login-logo {
    width: 20%;
    margin: 0 auto;
  }
  .login-right-section {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .login-login-container {
    display: block;
    overflow: hidden;
  }
  .login-left-section {
    width: 100%;
    height: 100vh;
  }
  .login-logo {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .login-input-box {
    padding: 5px;
  }

  .login-input-box input {
    width: 100%;
  }
  .login-social-buttons {
    flex-direction: row;
  }
  .login-right-section {
    display: none;
  }

  .login-swiper-slide img {
    display: none;
  }

  .login-login-btn {
    padding: 10px;
  }
  .login-facebook,
  .login-google {
    padding: 7px;
  }
}


.login-input-box {
  display: flex;
  align-items: center;
}

.login-input-box input {
  flex: 1;
  border: none;
  outline: none;
}

