/* =====================================================
   FOOTER SECTION
   ===================================================== */

   
.footer {
  background: #000000;
  padding: 25px;
  border-top: 1px solid #e4e4e4;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
.copy {
  color: #7c7c7c;
  font-size: 14px;
}
