.footer {
  background: black;
  color: white;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #ddd;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}


.social-icons a {
  color: #fff;
  margin: 0 8px;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #0d6efd;
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
  .left-help {
    margin-bottom: 20px;
  }

  .footer-links a:hover {
    padding-left: 0;
  }
}
